extends layout

block content 
  .main
    div(style="height:30%;") 
    h1(style="font-weight:bold;margin:0;color:white;text-align:center;font-size:600%;") 성격 애착 척도 검사
    div(style="height:3%;")
    h1(style="color:gray;text-align:center;font-size:300%;") by 명지대 융합소프트웨어학부 최 솔
    a.btn.mid-button(href=`/rule/slowrule`,style="margin-top:20%;background-color:#283b42;") 검사
    button.mid-button(style="margin-top:20%;background-color:#283b42;") 빠른 검사