extends ../layout

block content
    .main
        div(style="height:15%")
        h1(style="font-weight:bold;margin:0;color:white;text-align:center;font-size:500%;") 검사 방법
        div(style="height:5%;")
        p.explain 문항을 읽고, 자신의 행동이나 생각 또는 느낌과 각 진술문의 내용이 일치하는 정도에 따라 해당란의 번호를 선택해주세요.
        a.btn.mid-button(href=`/rule/test`,style="background-color:#283b42;margin-top:20%") 시작